@import 'ngx-toastr/toastr';
@import "../node_modules/quill/dist/quill.core.css";
@import "../node_modules/quill/dist/quill.snow.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
  height: 6px;
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 3px;
}

*::-webkit-scrollbar-thumb:hover {
  background: #555;
}
